header {
    background-color: #2142d4;
    display:flex;
    justify-content: space-between;
}

header h1 {
    color: blueviolet;
    font-size: 2.5rem;
    background-color: #2142d4;
    color:#ffff;
    padding: .5vh 1vw 1vh 1vh;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header ul {
    list-style-type: none;
    text-align: right;
    display: flex;
}

header ul li {
    display: left;
    margin-left: 25px;
    text-align: right;
}
header ul li a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    font-size: larger;
}

main > div img {
    display: flex;
    align-items: none;
    width: 100%;
    height: 100%;
}
main > div > h2 {
   font-size: 1.5rem;
   padding: .25rem;
   position:relative;
   color: white;
   bottom: 5vh;
   right: 0;
}

/* main section ul {
    display:flex;
    justify-content: space-evenly;
    align-items:center;

}
main section ul li >  {
    color:black;
} */

#about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#about-me h1 {
    flex: 0 0 15%;
    border-right: 3px solid;
    /* text-align: right; */
}

#about-me div {
    flex: 0 0 75%
}

#work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#work h1 {
    flex: 0 0 15%;
    border-right: 3px solid;
    /* text-align: right; */
}

#work div {
    flex: 0 0 75%
}

.project-container {
    min-height: 140px;
    max-height: 140px;
    background-color: red;
    margin-bottom: 5px;
}

.project-container h3 {
    display: inline;
    position: relative;
    padding: 20px;
    top: 10vh;
    background-color: royalblue;
}

.project-container h3 a {
    color: white;
    text-decoration: none;
}

.led-wall {
    background-image: url("./Stargazers.png");
    background-size: cover;
}

.run-buddy{
    background-image: url("./WW2.png");
    background-size: cover;
}
.password-generator{
    background-image: url("./password-generator.png");
    background-size: cover;
}
/* .project-card {
    display:flex;
    overflow: hidden;
    margin: 0rem 1% 1% 0rem;
    width:48%;
    border:blueviolet;
    filter:opacity(50%);
    transition: all 0.25s;
}
.project-card img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.project-card div h2 {
    font-size: 1.5rem;
}
.project-card > div {
    padding: .5rem;
    position: absolute;
    bottom: 2vh;
    left: 0;
    background: blueviolet;
} */
#card-holder {
    display: flex;
    flex-wrap: wrap;
}
#main-project {
    margin-right: 0px;
    width: 100%;
}

@media screen and (max-width:1068px) {
    body header h1 span {
        display: none;
    }
    body section {
        display:block;
    }
    body section h1 {
        border:none;
        border-bottom: var(--border-line-width) solid var(--light-accent-secondary);
        width:100%;
        text-align:left;
        margin-bottom:2vh;
    }
    body section h1 span {
        display:none;
    }
    body section ul{
        display:block;
    }
    body section ul li {
        border:none;
        width:60%;
        color: var(--light-accent);
        background: var(--light-accent-secondary)
    }
    #main-project,.project-card{
        width: 100%;
    }
    #card-holder {
        width:100%;
        display: block;
        flex-wrap: nowrap;
    }
}
@media screen and (max-width:867px) {
    header {
        display:block;
        height:100%;
    }
    body header h1 span {
        display:inline;
    }
    header ul {
        width:80%;
        display: block;
        justify-content: center;
        padding-top: .4rem;
        padding-bottom: .7rem;
    }
    header ul li a {
        display: inline-block;
        width: 50%;
        padding: .5rem 0rem .3rem 0rem;
        margin: 0rem 0rem .4rem left margin;
    }
}